{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "ecmaFeatures": {
    "modules": true
  },
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {}
}
